p:focus{
    border: none;
    outline: none;
}

.add-note{
    width: 93vw;
    padding: 10px;
    margin-top: 10px;
    margin-left: 3vw;
    font-family: cursive;
    border: none;
}

.add-note:hover{
    background-color: rgb(231, 231, 231);
}